pyspark==3.5.1
pandas==2.2.2
pyarrow==16.1.0
scikit-learn==1.5.0
huggingface_hub==0.24.0
requests==2.32.3
tqdm==4.66.4
langdetect==1.0.9
tldextract==5.1.2
transformers==4.42.4
torch==2.3.1
shap==0.45.1
streamlit==1.36.0
plotly==5.22.0
pyyaml==6.0.1